.loginContainer{
    width: 100%;
    height: 100%;   
    padding-top: 30px;
}

.logoContainer{
    display: flex;
    justify-content: center;   
}

.logoImage{
    width:160px;    
}

.formContainerLogin{
    display: flex;
    position: relative;
    justify-content: center;    
    border-radius: 7px;    
    width: fit-content;
    height: fit-content;
    margin: 25px auto 20px auto;
    
}


.formLogin{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 360px;    
    height: fit-content;
    margin: auto;
    padding: 20px;    
}


.nickNameInputLogin{
    width: 100%;        
    height: 45px;
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #6c6c6c;
    padding: 0 15px;
    cursor: text;
    text-align: center;
    margin-bottom: 15px;
    
}

.nickNameInputLogin::placeholder{
    text-align: center;
}

.nickNameInputLogin:focus-visible{   
    outline: none;
    text-align: center;
}



.startSessionButtonLogin{
    width: 100%;       
    height: 60px;
    font-family: Montserrat;
    font-size: 20px;    
    background: rgb(20,154,217);
    background: linear-gradient(90deg, rgba(20,154,217,1) 40%, rgba(149,20,217,1) 100%);
    border: none;
    border-radius: 10px;
    color: #E5FF03;
    font-weight: 500;
    cursor: pointer;
}

.tutorialMessageContainerLogin{
    display: flex;
    justify-content: center;    
    padding: 20px;
    margin-top: 25px;
}

.tutorialMessageLogin{
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.spinner{
    margin: auto;
}





