

.popUpContainer{
    position: absolute;    
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: black;
    
}

.popUpElement{
    position: relative; 
    z-index: 2;   
    margin: auto;
    padding: 20px;
    top: 20%;
    min-width: 240px;
    max-width: 100%;
    width: 320px;   
    height: auto; 
    background-color: white;    
    border-radius: 20px;    
}


.popUpGridOneButton{
    display: grid;    
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px auto auto 60px;
    grid-template-areas: "logo" "titulo" "mensaje" "CTA" "boton2";
}

.popUpGridTwoButton{
    display: grid;    
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px auto auto 60px 60px;
    grid-template-areas: "logo" "titulo" "mensaje" "CTA" "boton1" "boton2";
}

.buttonPopUp{
    margin: auto;
    height: 50px;
    width: 270px;
    border-radius: 7px;
    border: none;    
    font-weight: 500;    
    font-size: 20px;
    font-family: Montserrat;
}

.logoPopUp{    
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-bottom: 1px solid #6c6c6c
}

.tituloPopUp{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.messagePopUp{
    grid-area: mensaje;
    display: flex;
    white-space: pre-line;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.CTA{
    grid-area: CTA;
    display: flex;
    white-space: pre-line;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 5px 0 10px 0;
}

.button1PopUp{
    grid-area: boton1;
    background-color: #fe5f50;
}

.button2PopUp{
    grid-area: boton2;
    background-color: #0EB056;
}


@media (min-width: 768px) {
    .popUpElement{        
        width: 460px;       
    }

    .popUpGrid{          
        width: 420px;              
    }

    .popUpGridOneButton{        
        grid-template-rows: 80px 50px auto auto 60px;       
    }
    
    .popUpGridTwoButton{       
        grid-template-rows: 80px 50px auto auto 60px 60px;        
    }
}
