.messageRow{       
    display: block;
    width: 100%;
    height: fit-content;
    margin-top: 15px;    
}

.messageReceivedContainer{
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    justify-content: left;
}

.messageSentContainer{
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    justify-content: right;
}

.messageContainer{       
    display: flex;   
    position: relative;  
    justify-content: right; 
    width: fit-content;
    height: fit-content;    
    padding: 6px 17px 15px 8px; 
    background-color: #7BACDD;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.messageContainersent{
    background-color: #7BACDD;
}

.messageContainerReceived{
    background-color: #b9b9b9;
}

.message{
    display: inline-block;         
    font-size: 14px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    height: auto;       
    overflow-wrap: anywhere;     
    width: fit-content;
    max-width: 70vw;
    max-width: min(70vw, 650px);   
    user-select: text;
}

.timeMessage{
    
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: 1px;
    right: 5px;
    font-size: 11px;
    
}

/* .messageLessThan440{
    
}

.messageMoreThan440{
    
} */
