.formContainerFindingPair{ 
  display: flex;
  position: relative;
  justify-content: center;    
  border-radius: 7px;    
  width: fit-content;
  height: fit-content;
  margin: 15px auto 20px auto;
}

.formFindingPair{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 360px;
  height: fit-content;
  margin: auto;
  padding: 20px;    
}

.nickNameInputFindingPair{
  width: 100%;    
  height: 45px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 18px;   
  padding: 0 15px;
  cursor: text;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0px #0F4478;    
}

.nickNameInputFindingPair::placeholder{
  text-align: center;
}

.nickNameInputFindingPair:focus-visible{   
  outline: none;
  text-align: center;
}

.startChatButtonFindingPair{
  width: 100%;   
  height: 60px;
  margin-bottom: 8px;
  font-family: Montserrat;
  font-size: 22px;    
  background: #0F4478;      
  color: #F8BF5E;    
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0px #0F4478;
  font-weight: 500;
  cursor: pointer;
}

.copyPublicKeyContainer{
  margin: auto;
  cursor: pointer;
}

.copyIcon{
  display: inline;
  width: 20px;
  height: 20px;
}
.copyPublicKeyText{
  display: inline;
  margin: auto;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  color: black;
}